{% extends 'pages/backend/main.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}

{% if this_question  %}

<header class="my-2 py-0"><h1 class="text-center">Update</h1></header>

<div class="container text-light">
    <div class="row">
        <div class="col-xl-12 mx-auto text-center">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    <div class="row my-3">
                        <div class="col-2">
                            {{ form.section |as_crispy_field }}
                        </div>
                        <div class="col-10">
                            {{ form.question |as_crispy_field }}
                        </div>
                    </div>

                    <a class="btn btn-outline-secondary" href="{% url 'backend-details' this_question.id %}">Cancel</a>
                    <input class="btn btn-success" type="submit" value="Submit" />
                </form>
        </div>
    </div>
</div>



{% else %}

    <header class="my-2 mx-auto py-3"><h1 class="text-center">Create New Question</h1></header>

    <div class="row">
            <div class="col">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                        <div class="row">
                            <div class="col-lg-5 offset-lg-1">{{ form.section | as_crispy_field  }}</div>
                            <div class="col-lg-5">{{ form.question | as_crispy_field }}</div>
                        </div>

                    <div class="row">
                        <div class="col"><a class="btn btn-outline-secondary" href="{% url 'backend-dashboard'%}">Cancel</a></div>
                        <div class="col"><input class="btn btn-success" type="submit" value="Submit" /></div>
                    </div>


                </form>
            </div>
    </div>



{% endif %}


{% endblock %}