{% extends 'pages/backend/main.html' %}
{% load crispy_forms_filters %}
{% load static %}


{% block content %}

{% if this_question  %}

    <header class="my-2 mx-auto py-0"><h1 class="text-center text-light">Update Question</h1></header>

    <div class="row">
        <div class="col-xl-12 mx-auto">
            <div class="card">
                <div class=" text-center card-body">
                    <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}

                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                {{ form.section |as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card-body">
                                                {{ form.answer_category |as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card mb-3" style="max-width: 100%;">
                                    <div class="row no-gutters">
                                        <div class="col-md-5">
                                            <div class="image-box">
{#                                                <img class="mw-100 mh-50 {{ target_exist }}" src="{{ this_pair.image_sec.url }}" alt="{{ this_pair.image_sec }}"/>#}
{#                                                <div class="target_expired {{ target_sec }}" id="sec-target" style="top: {{y_secondary}}%; left: {{x_secondary}}%; width: {{width_secondary}}%; height: {{height_secondary}}%;"></div>#}
                                            </div>
{#                                            <p class="card-text"><small class="text-muted">W:{{this_pair.width_sec}} | H:{{this_pair.height_sec}}</small></p>#}
                                        </div>
                                        <div class="col-md-7">
                                            <div class="card-body px-3">
{#                                                {{ form.caption_sec_el |as_crispy_field}}#}
{#                                                {{ form.caption_sec_en |as_crispy_field}}#}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="invisible">

                        </div>

                        <a class="btn btn-outline-secondary" href="{% url 'backend-question' this_question.id %}">Cancel</a>
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </form>

                </div>
            </div>
        </div>
    </div>



{% else %}

    <header class="my-2 mx-auto py-0"><h1 class="text-center text-light">Create New Question</h1></header>

    {% if messages %}
        {% for message in messages %}
            <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <div class="col mx-auto card col-lg-10 offset-lg-1">
            <div class=" text-center card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
{#                    {{ form.media }}#}
                        <div class="row">
                            <div class="col-lg-5 offset-lg-1">{{ form.section | as_crispy_field  }}</div>
                            <div class="col-lg-5">{{ form.answer_category | as_crispy_field }}</div>
                        </div>

                        <div class="row">
                             <div class="col-lg-8 offset-lg-2">{{ form.question | as_crispy_field }}</div>


                    <div class="row">
                        <div class="col"><a class="btn btn-outline-secondary" href="{% url 'backend-dashboard'%}">Cancel</a></div>
                        <div class="col"><input class="btn btn-success" type="submit" value="Submit" /></div>
                    </div>


                </form>
            </div>
        </div>
    </div>



{% endif %}


{% endblock %}