{%  extends 'pages/backend/main.html' %}

{% block content %}

<header class="py-3"><h1 class="text-center">Dashboard</h1></header>

<section class="row">
	<div class="col-sm-6">
        <div class="card text-center mb-3">
            <div class="card-header">
                <h5 class="card-title">Total Questions</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ total_questions }}</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-success btn-sm btn-block" href="{% url 'backend-create'%}">New Question</a>
            </div>
        </div>
    </div>

	<div class="col-sm-6">
        <div class="card text-center mb-3">
            <div class="card-header">
                <h5 class="card-title">Total Tests Completed</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{ total_tests }}</h3>
            </div>
            <div class="card-footer">
                <a class="btn btn-warning btn-sm btn-block" href="{% url 'backend-rankings'%}">Rankings</a>
            </div>
        </div>
    </div>
</section>

<section class="table-responsive-md">
        <table class="table table-hover">
            <tr>
                <th class="text-center">Sequence</th>
                <th class="text-center">Section</th>
                <th class="text-left">Question</th>
                <th></th>
            </tr>

            {% for i in questions %}
                <tr>
                    <td class="text-center">{{ i.id }}</td>
                    <td class="text-center">{{i.section}}</td>
                    <td class="text-left">{{i.question|safe}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary my-1 w-100" href="{% url 'backend-details' i.id %}">Details</a><br/>
                        <a class="btn btn-sm btn-info my-1 w-100" href="{% url 'backend-update' i.id %}">Update</a><br/>
                        <a class="btn btn-sm btn-danger my-1 w-100" href="{% url 'backend-delete' i.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>

</section>

{% endblock %}