{% extends 'pages/backend/main.html' %}
{% load static %}
{% block content %}

<header class="my-2 py-0"><h1 class="text-center text-light">Delete</h1></header>
<div class="container">
    <div class="row">
        <div class="col text-center w-auto">
            <div class="card p-3">
                <div class="card-body">
                    <p>{{item.question|safe}}</p>
                    <p>Are you sure you want to delete this question?</p>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <a class="btn btn-outline-secondary" href="{% url 'backend-details' item.id %}">Cancel</a>
                        <input class="btn btn-danger" type="submit"  value="Confirm"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}