{%  extends 'pages/backend/main.html' %}

{% block content %}

<header class="my-2 mx-auto py-0">
    <h1 class="text-center text-light">Question Details</h1>
</header>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row pb-3 text-center">
        <div class="col-3">
            <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'backend-preview' this_question.id %}">Preview</a>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'backend-update' this_question.id %}">Update</a>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'backend-delete' this_question.id %}">Delete</a>
        </div>
        <div class="col-3">
            <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'backend-rankings' %}">Rankings</a>
        </div>
    </div>

    <div class="card my-3">
        <div class="row g-0">
            <div class="col-md-4">
                <div class="card-body">
                    <h5 class="card-title">Section</h5>
                    <p class="card-text">{{this_question.section}}</p>
                    <h5 class="card-title">Answer Category</h5>
                    <p class="card-text">{{this_question.answer_category}}</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Question</h5>
                    <p class="card-text">{{this_question.question|safe}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}