{%  extends 'pages/backend/main.html' %}

{% block content %}

<h1 class="py-3 text-center">Details</h1>

    <div class="row">
        <div class="col offset-2">
            <h5>Section</h5>
            <p>{{this_question.section}}</p>
        </div>
        <div class="col">
            <h5>Answer Category</h5>
            <p>{{this_question.section.answer_category}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col offset-2">
            <h5>Question</h5>
            <p>{{this_question.question|safe}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 offset-md-2 py-1">
            <a class="btn btn-success btn-md w-100" href="{% url 'backend-preview' this_question.id %}">Preview</a>
        </div>
        <div class="col-md-2 py-1">
            <a class="btn btn-warning btn-md w-100" href="{% url 'backend-update' this_question.id %}">Update</a>
        </div>
        <div class="col-md-2 py-1">
            <a class="btn btn-danger btn-md w-100" href="{% url 'backend-delete' this_question.id %}">Delete</a>
        </div>
        <div class="col-md-2 py-1">
            <a class="btn btn-dark btn-md w-100" href="">N/A</a>
        </div>
    </div>

{% endblock %}