{% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand mr-4" href="/" target="_blank">Research QRE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggle">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link {% if "admin" in request.path %} text-light {% endif %}" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "section" in request.path %} text-light {% endif %}" href="{% url 'backend-section' %}">Sections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if "question" in request.path %}text-light{% endif %}" href="{% url 'backend-question' %}">Questions</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if "options" in request.path %}text-light{% endif %}" href="{% url 'backend-options' %}">Options</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {% if "start" in request.path %} text-light {% endif %}" href="{% url 'frontend-start' %}">Start</a>
                </li>
            </ul>
            <!-- Navbar Right Side -->
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="LoginDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-people"></span> {{user.username}}
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="LoginDropdown">
                            <a class="dropdown-item" href="{% url 'registration-logout'%}">Logout <span class="oi oi-account-logout"></span></a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div {% if message.tags %} class="alert {{ message.tags }} alert-dismissible fade show p-3" role="alert" {% endif %}>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
