{% extends 'pages/backend/main.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block content %}

    <header class="my-2 mx-auto py-0"><h1 class="display-5 text-center">Options</h1></header>

    <div class="row">
            <div class="card">
                <div class=" text-center card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="row p-2">
                            <div class="col-md-8 offset-md-2">
                                {{ form.brake_time|as_crispy_field}}
                            </div>
                        </div>
                        <div class="row p-2">
                            <div class="col-md-4 offset-md-2">
                                {{ form.headline|as_crispy_field }}
                            </div>
                            <div class="col-md-4">
                                {{ form.footer|as_crispy_field }}
                            </div>
                        </div>
                         <div class="row p-2">
                            <div class="col-md-8 offset-md-2">
                                {{ form.instructions|as_crispy_field}}
                            </div>
                        </div>
                        <a class="btn btn-outline-secondary" href="{% url 'frontend-start' %}">Cancel</a>
                        <input class="btn btn-success" type="submit" value="Submit" />
                    </form>
                </div>
        </div>


    </div>


{% endblock %}
