{%  extends 'pages/backend/main.html' %}

{% block content %}

<header class="my-2 mx-auto py-0">
    <h1 class="text-center text-light">Pair Details</h1>
</header>

{% if messages %}
    {% for message in messages %}
        <div  {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible fade show" {% endif %}>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="row pb-3">
    <div class="col-3 col-sm-2 offset-sm-2">
        <a class="btn btn-outline-success btn-sm btn-block" href="{% url 'backend-preview_pair' this_pair.id %}">Preview</a>
    </div>
    <div class="col-3 col-sm-2">
        <a class="btn btn-outline-info btn-sm btn-block" href="{% url 'backend-update_pair' this_pair.id %}">Update</a>
    </div>
    <div class="col-3 col-sm-2">
        <a class="btn btn-outline-danger btn-sm btn-block" href="{% url 'backend-delete_pair' this_pair.id %}">Delete</a>
    </div>
    <div class="col-3 col-sm-2">
        <a class="btn btn-outline-warning btn-sm btn-block" href="{% url 'backend-rankings'%}">Rankings</a>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Επεξήγηση αντιστοίχισης:</h5>
                        <p class="card-text">{{this_pair.description_el |safe}}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold">Matching explanation:</h5>
                        <p class="card-text">{{this_pair.description_en |safe}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="image-box">
                        <img class="mw-100 mh-50" src="{{ this_pair.image_pri.url }}" alt="{{ this_pair.image_pri }}"/>
                        <div class="target_expired" id="pri-target" style="top: {{y_primary}}%; left: {{x_primary}}%; width: {{width_primary}}%; height: {{height_primary}}%;"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body px-3">
                        <h5 class="card-title font-weight-bold">Λεζάντα της Αρχικής εικόνας:</h5>
                        <p class="card-text">{{this_pair.caption_pri_el|safe}}</p>
                        <h5 class="card-title font-weight-bold">Caption of Primary image:</h5>
                        <p class="card-text">{{this_pair.caption_pri_en|safe}}</p>
                        <p class="card-text"><small class="text-muted">W:{{this_pair.width_pri}} | H:{{this_pair.height_pri}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <div class="image-box">
                        <img class="mw-100 mh-50 {{ target_exist }}" src="{{ this_pair.image_sec.url }}" alt="{{ this_pair.image_sec }}"/>
                        <div class="target_expired {{ target_sec }}" id="sec-target" style="top: {{y_secondary}}%; left: {{x_secondary}}%; width: {{width_secondary}}%; height: {{height_secondary}}%;"></div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body px-3">
                        <h5 class="card-title font-weight-bold">Λεζάντα της Δευτερεύουσας εικόνας:</h5>
                        <p class="card-text">{{this_pair.caption_sec_el|safe}}</p>
                        <h5 class="card-title font-weight-bold">Caption of Secondary image:</h5>
                        <p class="card-text">{{this_pair.caption_sec_en|safe}}</p>
                        <p class="card-text"><small class="text-muted">W:{{this_pair.width_sec}} | H:{{this_pair.height_sec}}</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}