{% extends "pages/frontend/main.html" %}

{% block content %}

{%  include 'pages/frontend/navbar.html' %}

    <div class="m-3 text-center"><a href="{% url 'frontend-start'%}" type="button" class="btn btn-primary btn-lg">End</a></div>
    <img src="/media/finish-flags.png" class="img-fluid mx-auto d-block" alt="logo">
    <h1 class="text-success py-3 display-1 text-center">Ευχαριστώ!</h1>

    <p class="text-center">Powered by:</p>
    <img src="/media/logo.png" class="img-fluid mx-auto d-block" width="300" alt="logo">


    {%  include 'pages/frontend/footer.html' %}

{% endblock %}