{% extends "pages/frontend/main.html" %}
{% load myfilters %}
{% load static %}

{% block content %}

<div class="container">
    <h1 class="p-3">Ομάδα {{ team }}</h1>
    <div class="card text-center">
        <div class="card-header">
            <h2>Μέρος {{ section }}</h2>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{ this_question.question|safe }}</p>

        </div>
        <div class="card-footer">
            <h6 class="card-title p-2">Επιλογές</h6>
            <div class="row">
            {% if this_question.section.answer_category == "boolean" %}
            {% for i in 3|times %}
                <div class="col text-center">
                    <form method="POST" id="next-form">
                        {% csrf_token %}
                        <input type="hidden" name="selection" id="{{ i }}" value="{{ i }}" />
                        <input type="hidden" name="Post_name" value="next" />
                        <button class="btn btn-primary btn-lg w-100" type="submit"> {{ i }} </button>
                    </form>
                </div>
            {% endfor %}
            {% elif this_question.section.answer_category == "likert6" %}
            {% for i in 7|times %}
                <div class="col text-center">
                    <form method="POST" id="next-form">
                        {% csrf_token %}
                        <input type="hidden" name="selection" id="{{ i }}" value="{{ i }}" />
                        <input type="hidden" name="Post_name" value="next" />
                        <button class="btn btn-primary btn-lg w-100" type="submit"> {{ i }} </button>
                    </form>
                </div>
            {% endfor %}
            {% elif this_question.section.answer_category == "likert7" %}
            {% for i in 8|times %}
                <div class="col text-center">
                    <form method="POST" id="next-form">
                        {% csrf_token %}
                        <input type="hidden" name="selection" id="{{ i }}" value="{{ i }}" />
                        <input type="hidden" name="Post_name" value="next" />
                        <button class="btn btn-primary btn-lg w-100" type="submit"> {{ i }} </button>
                    </form>
                </div>
            {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
</div>

<script>
    {#let filename_pri = "{{ filename_pri }}";#}
    {#let filename_sec = "{{ filename_sec }}";#}
    {#let countdown_per_pic = {{ countdown_per_pic }};#}
    {#let spot_pri = {{ spot_pri|safe }};#}
    {#let spot_sec = {{ spot_sec|safe }};#}
</script>

<!-- Load main.js -->
<script src="{% static 'pages/js/main.js' %}" ></script>

{% endblock %}