/* ***************************************************************************************************** */
/* ********************************************** GENERAL ********************************************** */

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #131313;
}

.django-ckeditor-widget{
    width: 100%;
}

/* ****************************************************************************************************** */
/* ********************************************** FRONTEND ********************************************** */


/* *********************************** Registration  *********************************** */
.registration .card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* *********************************** START & END pages  *********************************** */

.frontend {
    height: 100vh;
    color: #111111;
    background: linear-gradient(27deg, #111111 5px, transparent 5px) 0 5px, linear-gradient(207deg, #111111 5px, transparent 5px) 10px 0, linear-gradient(27deg, #222 5px, transparent 5px) 0 10px, linear-gradient(207deg, #1a1a1a 5px, transparent 5px) 10px 5px, linear-gradient(90deg, #111111 10px, transparent 10px), linear-gradient(#111111 25%, #111111 25%, #111111 50%, transparent 50%, transparent 75%, #111111 75%, #111111);
    background-size: 5px 5px;
}

.nav-bg-color{
    background: rgba(0,0,0,0.5);
}

header {
    height:80px;
}

footer {
    background: rgba(0,0,0,0.5);
    color: #cbd5db;
}



/* *********************************** HOME page  *********************************** */

/*** Tools and indicators ***/

.description-progress{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(226,227,229,0.85);
    z-index: 1;
    font-family: 'Vollkorn', serif;
}

#confirm_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 3px solid white;
}

#next_button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    border: 3px solid white;
}

#countdown {
    position: fixed;
    top: 0;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, 0%);
    z-index: 1;
    color: #ffffff;
    text-shadow: 0 -1px 2px rgba(0,0,0,.8);
}

#alert-score {
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0.8;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    z-index: 1;
}

/*** Layout for pictures ***/

.column-box{
    position: relative;
    display:inline-block;
    height: 100%;
    font-family: 'Vollkorn', serif;
}

.image-box-pri, .image-box-sec {
    position:relative;
    display: inline-block;
}

.image-fit {
    max-width: 100%;
    max-height: 90vh;
    margin: 0 auto;
}

.caption-pri{
    max-height: 8vh;
    padding: 0;

}

.caption-sec{
    max-height: 8vh;
    margin-bottom: 0;

}

.caption-text{
    padding: 0.5vh 0;
    background-color: rgba(255,255,255,0.5);
    max-height: 100%;
}

/*************** End of HOME page ***************/


/*** Targets  ***/

/* Targets before click*/
.target {
    position: relative;
    visibility: visible;
}

/* Target Boxes when clicked*/
.target_selected {
    position: absolute;
    border: 1px solid rgba(0, 0, 255, 1);
    /*outline: 1px solid rgba(255, 255, 255, 1);*/
}

/* Target Boxes when expired*/
.target_expired {
    position: absolute;
    visibility: visible;
    border: 1px solid rgba(255, 255, 255, 1);
    outline: 2px solid rgba(255, 0, 0, 1);
}

/* No Target box*/
.no-target {
    border: 4px solid rgba(0, 255, 0, 1);
}


/* Class to disable click action*/
.pointer_none {
    pointer-events: none;
}

/* Shake effect when click is not accurate*/
.wrong_click {
    animation: event 0.25s;
}

@keyframes event {
     0% { transform: translate(1px); }
  10% { transform: translate(-1px); }
  20% { transform: translate(-3px); }
  30% { transform: translate(3px); }
  40% { transform: translate(1px); }
  50% { transform: translate(-1px); }
  60% { transform: translate(-3px); }
  70% { transform: translate(3px); }
  80% { transform: translate(-1px); }
  90% { transform: translate(1px); }
  100% { transform: translate(1px); }
}


/* ***************************************************************************************************** */
/* ********************************************** BACKEND ********************************************** */

.backend {
    background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-size:16px 16px;
    font-family: Roboto, serif;
}

.image-box{
    position: relative;
}

header h1{
    font-size: 2rem;
}

/*form input[type=text] {*/
/*    width: 70%;*/
/*}*/


/*@media (min-width: 576px) {*/
/*    .card-columns {*/
/*        column-count: 2;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .card-columns {*/
/*        column-count: 3;*/
/*    }*/
/*}*/

/*@media (min-width: 992px) {*/
/*    .card-columns {*/
/*        column-count: 4;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .card-columns {*/
/*        column-count: 5;*/
/*    }*/
/*}*/

